body {
	font-family: helvetica;
	background-color: gray;
}
main {
	margin: 20px auto 20px auto;
}

#generate {
	background-color: #fff;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	font-family: helvetica;
	margin: 20px auto;
	font-size: 20px;

}
#propTable {
	width: 700px;
}
#propertyId {
	display: table-cell;
	background-color: #E6E6FA;
	width: 150px;
	height: 50px;
	text-align: center;
	border: 1px solid black;
	padding-top: 20px;
}
#sqft {
	display: table-cell;
	background-color: #E6E6FA;
	width: 150px;
	height: 50px;
	text-align: center;
	border: 1px solid black;
}
#pricesqft {
	display: table-cell;
	background-color: #E6E6FA;
	width: 150px;
	height: 50px;
	text-align: center;
	border: 1px solid black;
}
#button {
	display: table-cell;
	background-color: yellow;
	width: 150px;
	height: 50px;
	border: 1px solid black;
	margin: auto;
}
#remove {
	height: 50px;
	width: 100px;
	border-radius: 10px;
	position: absolute;
	margin-left: 20px;
	margin-top: 10px;
	background-color: #E6E6FA
}